type=dhcp-client
hostname=${hostname}
tplname=${tplname}
dgname=${dgname}
vm-auth-key=${vm-auth-key}
op-command-modes=${op-command-modes}
dhcp-send-hostname=yes
dhcp-send-client-id=yes
dhcp-accept-server-hostname=yes
dhcp-accept-server-domain=yes
